<h1 class="heading" id="homeH1">Welcome to AngioBloom!</h1>
<h2 class="heading" id="homeH2">The best place on the internet to share flowers...</h2>

<div class="flowerContainer">
  <% if (flowers.length < 6) { %>
    <% var mainDisplay = (flowers.length) %>
  <% } else { %>
    <% var mainDisplay = 6 %>
  <% } %>
  
  <% for(var i = 0; i < mainDisplay; i++) {%>
    <%  var imgUrl = cloudinary.url(flowers[i].flowerPhotos[0]) ? cloudinary.url(flowers[i].flowerPhotos[0].picture) : false %>
    <% if (flowers[i].name !== '') { %>
      <% if (imgUrl) { %>
        <div class="flowerTypes">
          <a href="/flower/<%= flowers[i].name %>">

            <div class="mainFlower" style="background-image:url(<%= imgUrl %>);"><h3><%= flowers[i].name %></h3></div>
            <!-- <img src="<%= imgUrl %>" class="mainFlower"> -->
          </a>
        </div>
      <% } %>
    <% } %> 
  <% } %>
</div>
<div id="allFlowers">
  <a href="/flower">
    <button id="allFlowersBtn">View All Flowers</button>
  </a> 
</div>

<h2 class="heading" id="unknownH2">Can you identify these flowers?</h2>

<div class="flowerContainer" id="unknownContainer">
  <% flowers.forEach(function(flower){ %>
    <% if (flower.name == '') { %>
      <% for(var i = 0; i < flower.flowerPhotos.length; i++) { %>
        <% var imgUrl = cloudinary.url(flower.flowerPhotos[i].picture)%>
          <div class="unknownFlowers">
            <a href="/flower/unknown/<%= flower.flowerPhotos[i].id %>">
              <div style="background-image:url(<%= imgUrl %>);" class="mainFlower"></div>
            </a>
          </div>
        <% } %> 
    <% } %>
  <% }) %>
</div>