<h1 class="heading accountH1"><%= currentUser.username %>'s account</h1>

<div class="allFlowersContainer">
  <% if (photos.length) { %>
    <% for(var i = 0; i < photos.length; i++) { %>
      <% var imgUrl = cloudinary.url(photos[i].picture) %>
      <div class="allFlowers">
        <div class="myPhoto" style="background-image:url(<%= imgUrl %>);">
          <a href="/myaccount/flower/<%= photos[i].id %>" alt="<%= photos[i].userId %>" class="delete-link">
            <i class="fa fa-times fa-2x" aria-hidden="true"></i>
          </a>
        </div>
        <h3><%= photos[i].flowerTaxonomy.name ? photos[i].flowerTaxonomy.name : "Unknown" %></h3>
      </div>
    <% } %>
  <% } else { %>
    <h3>You currently have no photos, click <a href="/flower/upload">here</a> to begin uploading.</h3>
  <% } %>
</div>