<h1><%= flower.name %> (<%= flower.scientificName %>)</h1>
<img src="<%= cloudinary.url(flower.flowerPhotos[0].picture) %>" id="mainTaxonomyPic">

<div>
  <% if (flower.order) { %>
    <div>
      <h2>Order: </h2>
      <h2><%= flower.order %></h2>
    </div>
  <% } %>

  <% if (flower.family) { %>
    <div>
      <h2>Family: </h2>
      <h2><%= flower.family %></h2>
    </div>
  <% } %>

  <% if (flower.genus) { %>
    <div>
      <h2>Genus: </h2>
      <h2><%= flower.genus %></h2>
    </div>
  <% } %>
</div>

<% if (flower.lowTemperature && flower.highTemperature) { %>
  <h3>Temperature: <%= flower.lowTemperature %> - <%= flower.highTemperature %></h3>
<% } %>

<% if (flower.lowHumidity && flower.highHumidity) { %>
  <h3>Humidity: <%= flower.lowHumidity %> - <%= flower.highHumidity %></h3>
<% } %>

<% if (flower.sunlightIntensity && flower.sunlightFrequency) { %>
  <h3>Prefers <%= flower.sunlightIntensity %> intensity of <%= flower.sunlightFrequency %> sunlight.</h3>
<% } %>

<% if (flower.waterIntensity && flower.waterFrequency) { %>
  <h3>Prefers <%= flower.waterIntensity %> amount of <%= flower.waterFrequency %> watering.</h3>
<% } %>

<% if (flower.terrain) { %>
  <h3>Terrain: <%= flower.terrain %></h3>
<% } %>

<% photos.forEach(function(flower) { %>
  <% if (flower.terrain) { %>
    <%= flower.terrain %>
  <% } %>
<% }) %>


<% for(var i = 0; i < photos.length; i++) { %>
  <% var imgUrl = cloudinary.url(photos[i].picture) %>
  <div>
    <img src="<%= imgUrl %>" class="secondaryTaxonomyPic">
    <h3>
      <%= photos[i].likes ? photos[i].likes : "0" %>
        <a href="/flower/<%= photos[i].id %>/like" class="likeBtn"><i class="fa fa-heart"></i></a>
      - <%= photos[i].user ? photos[i].user.points : "No user" %> points
      - <%= photos[i].user ? photos[i].user.username : "No user!" %>
    </h3>
  </div>
<% } %>
